.container1{
  display: flex;
  background-color: gray;
  margin-left: 0px;
 
  border: 2px solid green;
}
.item{
}
.item1{
 text-align: center;
 
 flex-grow: 1;
 display: flex;
 justify-content:center;
 align-items: center;
 margin-right: 0px;

}